
languages/*
uploads/*

plugins/*

!plugins/aqua-atrakcje
!plugins/aqua-dla-dzieci
!plugins/aqua-galeria
!plugins/aqua-opis
!plugins/aqua-weather
!plugins/aqua-zalety


themes/*

!themes/aqua

themes/aqua/assets/download
themes/aqua/assets/styles/.sass-cache
themes/aqua/assets/styles/.sass-cache
themes/aqua/assets/vendor


themes/aqua/node_modules
themes/aqua/language

themes/UKSW-1.1/assets/css/.sass-cache
themes/UKSW-1.1/assets/css/bootstrap.min.css
themes/UKSW-1.1/assets/css/bootstrap.css
themes/UKSW-1.1/assets/fonts
themes/UKSW-1.1/assets/js/bootstrap.min.js
themes/UKSW-1.1/assets/js/bootstrap.js